* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background: #0f6f29;
    padding: 14px 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header .logo {
    font-size: 22px;
    font-weight: bold;
}
header .logo a  {
    color: white; 
    text-decoration: none;
}

header .nav-links {
    display: flex;
    gap: 20px;
}

header .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s ease;
}
/
header .nav-links a:hover {
    opacity: 0.8;
}

main.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
