<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IF-Participa{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

    {% block estilos %}{% endblock %}
</head>
<body>

<header>
    <div class="logo">
        <a href="{{ url_for('controllers_bp.dashboard') }}">
            IF Participa
        </a>
    </div>

    {% if current_user.is_authenticated %}
    <div class="nav-links">
        <a href="{{ url_for('auth_bp.perfil') }}">Meu Perfil</a>
        <a href="{{ url_for('auth_bp.logout') }}">Logout</a>
    </div>
    {% endif %}
</header>

<main class="container">
    {% block conteudo %}{% endblock %}
</main>

</body>
</html>
