{% extends "base.html" %}

{% block title %}Editar Sugestão{% endblock %}
{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='controllers/forms.css') }}">
{% endblock %}
{% block conteudo %}
<h1>Editar Sugestão</h1>

<form method="POST">

    <label>Título:</label><br>
    <input type="text" name="titulo" value="{{ sugestao.titulo }}" required><br><br>

    <label>Descrição:</label><br>
    <textarea name="descricao" rows="5" required>{{ sugestao.descricao }}</textarea><br><br>

    <button type="submit">Salvar Alterações</button>

</form>
{% endblock %}
