{% extends "base.html" %}
{% block title %}Enviar Reclamação{% endblock %}
{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='controllers/forms.css') }}">
{% endblock %}

{% block conteudo %}
<div class="form-container">
    <h1>Enviar Reclamação</h1>

    <form method="POST">
        <label>Título:</label>
        <input type="text" name="titulo" required>

        <label>Descrição:</label>
        <textarea name="descricao" rows="5" required></textarea>

        <button type="submit">Enviar</button>
    </form>
</div>
{% endblock %}
