<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IF-Participa</title>
    <link rel="stylesheet" href="static/index.css">

</head>
<body>

    <div class="container">
        <h1>IF-Participa</h1>
        <p>Participe ativamente do futuro do IFRN!  
        Envie ideias, reclamações e contribua com sugestões.</p>

        <div class="btn-container">
            <a href="{{ url_for('auth_bp.register') }}" class="btn btn-register">Cadastrar-se</a>
            <a href="{{ url_for('auth_bp.login') }}" class="btn btn-login">Fazer Login</a>
        </div>
    </div>

</body>
</html>
