{% extends 'base.html' %}

{% block title %}Cadastrar - IF-Participa{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth/auth.css') }}">
{% endblock %}

{% block conteudo %}
<div class="auth-container">
    <h1>Crie sua conta</h1>
    <p class="subtitle">Participe, envie projetos e acompanhe tudo no IF.</p>

    <form action="{{ url_for('auth_bp.register') }}" method="POST" class="auth-form">
        <label>Nome</label>
        <input type="text" name="nome" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Senha</label>
        <input type="password" name="senha" required>

        <button type="submit" class="btn-primary">Cadastrar</button>

        <p class="link">Já tem conta?
            <a href="{{ url_for('auth_bp.login') }}">Fazer login</a>
        </p>
    </form>
</div>
{% endblock %}
